[Unit]
Description=Videbo distributor node
After=network.target

[Service]
WorkingDirectory=/opt/videbo
ExecStart=/opt/videbo/venv/bin/python3 -m videbo distributor
User=videbo
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

